@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: #ffffffde;
  font-family: 'Sen', sans-serif;
  font-size: 22px;
  display: grid;
  justify-content: center;
  padding-top: 150px;
  min-height: 100vh;
}

.container {
  width: 90vw;
  max-width: 20em;
}